VITE_CONTACT_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbw7AbPeJAPkHp9U0w93Z4dq8G_4Iok0uQ3XUesCyNlTkKAnd-5UEXxDfeqhtCcJ582X/exec
VITE_ORDERS_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/YOUR_ORDERS_DEPLOYMENT_ID/exec
VITE_RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
